services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8081:80"
    depends_on:
      - websocket-server

  websocket-server:
    build:
      context: ./backend/websocket-server
      dockerfile: Dockerfile
    depends_on:
      - database
    ports:
      - "8082:8081"

  database:
    build:
      context: ./backend/database
      dockerfile: Dockerfile
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ROOT_USER: root
      MYSQL_DATABASE: messages
    # volumes:
    #   - dbdata:/var/lib/mysql

# volumes:
#   dbdata: